		<!--about-us start -->
		{{!-- <section id="home" class="about-us"> --}}
			<div class="container">
				{{!-- <div class="about-us-content"> --}}
				<div class="col-md-6" style="margin-top: 8vh; width: auto;">
					
					<img class="d-block w-100 aboutImg"   src="/assets/images/service/handshake.jpg" alt="Second slide">  
					
				</div>
				<div class="col-md-6 aboutContent">
					<h2 style="margin-top: 5vh;">
						Explore The World With Our Exceptional Travel Services
					</h2>	
					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Customized Itineraries
					</h4>
					<p style="margin-left: 2vh;">
						Discover a world of possibilities with our personalized travel itineraries. 
						Whether you seek adventure, cultural enrichment, or relaxation, our expert team crafts tailor-made plans to suit your preferences.
					</p>

					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Luxury Accommodations
					</h4>
					<p style="margin-left: 2vh;">
						Indulge in the finest accommodations around the globe.
						We partner with top-tier hotels and resorts to ensure your stay is not just comfortable but an experience in itself.
					</p>

					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Adventure Packages
					</h4>
					<p style="margin-left: 2vh;">
						For the thrill-seekers, we offer adventure packages that promise an adrenaline rush. 
						Whether it's hiking, scuba diving, or skydiving, we've got the perfect adventure waiting for you.
					</p>

					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Culinary Delights
					</h4>
					<p style="margin-left: 2vh;">
						Savor the flavors of each destination with our culinary experiences. 
						From street food tours to fine dining, we ensure that your taste buds embark on a journey of their own.
					</p>

					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Travel Consultation
					</h4>
					<p style="margin-left: 2vh;">
						Not sure where to go? Our travel consultants are here to assist you. 
						We provide expert advice, helping you choose the ideal destination based on your interests and preferences.
					</p>


					<h4 class="checkme-details" style="margin-top: 5vh; font-weight: bold;">
						Family-Friendly Options
					</h4>
					<p style="margin-left: 2vh;">
						Make lasting memories with your loved ones through our family-friendly packages, offering activities and accommodations suitable for all ages.
					</p>
        		</div>
				{{!-- </div><!--/.about-us-content--> --}}
			</div><!--/.container-->

		{{!-- </section><!--/.about-us-->	 --}}
		<!--about-us end -->