		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				{{!-- margin-top:  76px --}}
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">

								<div class="col-sm-6">
									
									<img src="/assets/images/gallary/g2.jpg" />
									<h4>
										Lorem Ipsum is simply dummy text 
										of the printing and typesetting industry.
										 Lorem Ipsum has been the industry's standard dumm
										 y text ever since the 1500s, when an unknown printe
										 r took a galley of type and scrambled it to make a type specimen book.
										  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
										  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
										  software like Aldus PageMaker including versions of Lorem Ipsum.

									</h4>	
									
								</div>
								<div class="col-sm-3">
									<p>
										Explore the Beauty of the Beautiful World 
									</p>	
									<h4>
										Lorem Ipsum is simply dummy text 
										of the printing and typesetting industry.
										 Lorem Ipsum has been the industry's standard dumm
										 y text ever since the 1500s, when an unknown printe
										 r took a galley of type and scrambled it to make a type specimen book.
										  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
										  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
										  software like Aldus PageMaker including versions of Lorem Ipsum.

									</h4>	
								</div>
								{{!-- <div class="about-us-txt">
									
								</div><!--/.about-us-txt--> --}}
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->