<div class="centered-contact">
<img class="d-block w-100 contactImg" style="width: 198vh;"  src="assets/images/service/contact.jpg" alt="Second slide">  

</div>
<div class="container">
	<div class="packages-content align-items-center">
		<div class="row ">
			<div class="col-md-3 col-sm-3 contactContent">
				<div class="single-package-item">
					<img src="assets/images/service/map2.jpeg" style="width: 78vh;" alt="package-place">
					<div class="single-package-item-txt align-items-center">
					<h3>Anantnag Office</h3>
					<div class="packages-para align-items-center homeIcon">
						<i class="fa fa-home fa-4x " aria-hidden="true" ></i>
						<p> Janglatmandi, Near District Hospital, Anantnag 192101, Jammu and Kashmir</p>
					</div><!--/.packages-para-->
					</div><!--/.single-package-item-txt-->
				</div><!--/.single-package-item-->

			</div><!--/.col-->
		</div>
	</div>
</div>