		<!--galley start-->
		<section id="gallery" class="gallery">
			<div class="container">
				<div class="gallery-details">
					<div class="gallary-header text-center">
						<h2>
							top destination
						</h2>
						<p>
							These place explore with us	
						</p>
					</div><!--/.gallery-header-->
					<div class="gallery-box">
						<div class="gallery-content">
						  	<div class="filtr-container">
						  		<div class="row">

						  			<div class="col-md-6">
						  				<div class="filtr-item">
                   							<img class="d-block w-100"   src="/assets/images/gallary/andman.jpg" alt="Third slide">
											{{!-- <img src="/assets/images/home/banner.jpg" alt="portfolio image"/> --}}
											<div class="item-title" style="bottom: 28%;">
												<a href="#">
													Andaman and Nicobar Islands
												</a>
												<p><span>10 tours</span><span>7 places</span></p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-6">
						  				<div class="filtr-item">
                   							<img class="d-block w-100"   src="/assets/images/gallary/kerala.jpeg" alt="Second slide">
											{{!-- <img src="/assets/images/home/banner.jpg" alt="portfolio image"/> --}}
											<div class="item-title">
												<a href="#">
													Kerala
												</a>
												<p><span>15 tours</span><span>10 places</span></p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
                  							<img class="d-block w-100"   src="/assets/images/gallary/kasmir.jpg" alt="Second slide">  
											{{!-- <img src="/assets/images/home/banner.jpg" alt="portfolio image"/> --}}
											<div class="item-title">
												<a href="#">
													Kashmir
												</a>
												<p><span>20 tours</span><span>10 places</span></p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
                  							<img class="d-block w-100"   src="/assets/images/gallary/uttrakhand.jpg" alt="Second slide">
											{{!-- <img src="/assets/images/home/banner.jpg" alt="portfolio image"/> --}}
											<div class="item-title">
												<a href="#">
													Uttrakhand 
												</a>
												<p><span>12 tours</span><span>7 places</span></p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-4">
						  				<div class="filtr-item">
                  							<img class="d-block w-100"   src="/assets/images/gallary/leh-ladakh.jpg" alt="Second slide">
											{{!-- <img src="/assets/images/home/banner.jpg" alt="portfolio image"/> --}}
											<div class="item-title">
												<a href="#">
													Leh-Ladakh
												</a>
												<p><span>10 tours</span><span>10 places</span></p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-6">
						  				<div class="filtr-item">
											<img src="/assets/images/gallary/aagra.webp" alt="portfolio image"/>
											<div class="item-title">
												<a href="#">
													Agra
												</a>
												<p><span>5 tours</span><span>2 places</span></p>
											</div><!-- /.item-title -->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->

						  			<div class="col-md-6">
						  				<div class="filtr-item">
											<img src="/assets/images/gallary/rajasthan.jpg" alt="portfolio image"/>
											<div class="item-title">
												<a href="#">
													Rajasthan
												</a>
												<p><span>18 tours</span><span>15 places</span></p>
											</div> <!-- /.item-title-->
										</div><!-- /.filtr-item -->
						  			</div><!-- /.col -->
						  		</div><!-- /.row -->

						  	</div><!-- /.filtr-container-->
						</div><!-- /.gallery-content -->
					</div><!--/.galley-box-->
				</div><!--/.gallery-details-->
			</div><!--/.container-->

		</section><!--/.gallery-->
		<!--gallery end-->