<!--packages start-->
<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        special packages
      </h2>
      <h3 style="color: #565a5c;
    font-weight: 600;">
        Explore with us
      </h3>
    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/tulip.jpg" alt="package-place">
            <div class="single-package-item-txt">
              <h3>Kashmir</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 4 days 3 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    {{!-- <i class="fa fa-person-walking-luggage"></i> --}}
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/vaishnavdevi.jpg" alt="package-place">
          <div class="single-package-item-txt">
              <h3>Vaishno Devi</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 3 days 2 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/parniTop.jpg" alt="package-place">
             <div class="single-package-item-txt">
              <h3>Gulmarg</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 5 days 4 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/ladakh.jpg" alt="package-place">
             <div class="single-package-item-txt">
              <h3>Leh-Ladakh</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 6 days 5 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/kerala2.jpg" alt="package-place">
             <div class="single-package-item-txt">
              <h3>Kerala</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 5 days 4 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

        <div class="col-md-4 col-sm-6">
          <div class="single-package-item">
            <img src="assets/images/packages/pahalgam2.jpg" alt="package-place">
             <div class="single-package-item-txt">
              <h3>Pahelgam</h3>
              <div class="packages-para">
                <p style="color: black;">
                  <span >
                    <i class="fa fa-angle-right"></i> 4 days 3 nights
                  </span>
                  <i class="fa fa-angle-right"></i>  accomodation
                </p>
                <p style="color: black;">
                  <span>
                    <i class="fa fa-car"></i> Transport
                  </span>
                  <span>
                  <i class="fa fa-cutlery"></i> Food Facilities
                  </span>
                  <span>
                    <i class="fa fa-building"></i> Hotel
                  </span>
                  <span>
                    <i class="fa fa-tree"></i> Sight Seeings
                  </span>
                </p>
              </div><!--/.packages-para-->
              <div class="about-btn">
                <button class="about-view packages-btn">
                  Inquiry Now
                </button>
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

      </div><!--/.row-->
    </div><!--/.packages-content-->
  </div><!--/.container-->

</section><!--/.packages-->
<!--packages end-->